<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Event: <%= event.name %></title>
	<!-- <link rel="icon" type="image/png" href="../assets/favicon.svg"> -->
    <script src="../scripts/addEvent.js"> </script>
	<link rel="stylesheet" href="http://localhost:3000/styles/singleevent.css">
	<script src="http://localhost:3000/scripts/singleevent.js" ></script>
</head>
<body>
	<div>
        <ul class="Menu">
            <li><a href="http://localhost:3000/events">Events</a></li>
            <li><a href="http://localhost:3000/settings">Settings</a></li>
            <li><a href="http://localhost:3000/attendance">Attendance</a></li>
            <li style="float: right;padding-right: 10px;"><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
	<br>
	<div class="Info">
	<h2 id="Title" ><%= event.name %></h2>
	<h3 id= "Date" ><%= event.date %></h3>
	<h3 id= "Summary" ><%= event.appointment %></h3>
	<h3 ><b>Summary: </b><%= event.summary %></h3>
	<h3 ><b>Full description: </b><%= event.description %></h3>
	<h3 ><b>Contact Info: </b><%= event.contact %></h3>
	<h3 id="Price"><%= event.price %></h3>
	<h3 ><b>Accessibility </b>(if applicable): <%= event.accessibility %></h3>
	<button id="SignUp" eventid="" class="SignUpButton SignedUpButton">Signed up</button> <!---need eventid-->
	<button id="Share" eventid="" class="ShareEventButton"> Share </button> <!---need eventid-->
	</div>
</body>
