<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Event: <%= event.name %></title>
	<!-- <link rel="icon" type="image/png" href="../assets/favicon.svg"> -->
    <script src="../scripts/addEvent.js"> </script>
</head>
<body>
	<p><%= event.name %></p>
	<p><%= event.date %></p>
	<p><%= event.appointment %></p>
	<p><%= event.summary %></p>
	<p><%= event.description %></p>
	<p><%= event.contact %></p>
	<p><%= event.price %></p>
	<p><%= event.accessibility %></p>
</body>
